.main-class {
	color: #000000;
	font-weight: bold;
}
body {
	background-color: rgb(206, 224, 36);
	color: hsl(0, 0%, 0%);
	margin: auto;
	width: 50%;
	display: block;
	max-height: 80%;
}
textarea {
	width: 90%;
	height: 50%;
	padding: 1rem;
}
nav {
	background-color: #000000;
	color: #fff;
	text-align: center;
	margin: auto;
	width: 80%;
	padding: 1rem;
}
button {
	margin-bottom: 10px;
	margin-left: 45%;
	display: grid;

	text-align: center;
	padding: 0.5rem;
}
.sideimage {
	width: 10%;
	height: 20%;
	display: block;
	overflow: hidden;
	margin: auto;
	max-width: 8%;
	min-height: 10%;
}
