.main-class {
	color: #000000;
	font-weight: bold;
}
body {
	background-color: rgb(206, 224, 36);
	color: hsl(0, 0%, 0%);
	margin: auto;
	width: 50%;
	display: block;
	max-height: 80%;
}
textarea {
	width: 90%;
	height: 50%;
	padding: 2rem;
	font-size: 1rem;
}
nav {
	background-color: black;
	color: white;
	text-align: center;
	margin: auto;
	width: 80%;
	padding: 1rem;
	font-size: 2rem;
}
button {
	margin: auto;
	display: block;
	text-align: center;
	padding: 0.5rem;
}
.btn_div {
	display: block;
	margin: auto;
	padding: 1rem;
}
.sideimage {
	width: 20%;
	height: 30%;
	display: block;
	overflow: hidden;
	margin: auto;
	max-width: 10%;
	min-height: 40%;
}
h2 {
	text-align: center;
}
footer {
	padding: 1rem;
	display: block;
	background-color: black;
	color: white;
	margin: auto;
}
.div-footer {
	display: block;
	margin: auto;
}
.div-footer p a {
	color: yellow;
}
.div-footer p {
	display: block;
	font-size: 80%;
	text-align: justify;
}
